**What you learn:**

In this notebook you will learn about basic (aka primitive) data types in Python. This includes numbers, text/string, boolean, and type conversion.

Assumes that you already set up Jupyter successfully.

Assumes that you installed the [Jupyter variable inspector](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/varInspector/README.html?highlight=varinspector).

Based on a [tutorial by Zhiya Zuo](https://github.com/zhiyzuo/python-tutorial) and extended where appropriate.

Jens Dittrich, [Big Data Analytics Group](https://bigdata.uni-saarland.de/), [CC-BY-SA](https://creativecommons.org/licenses/by-sa/4.0/legalcode)

This notebook is available on https://github.com/BigDataAnalyticsGroup/python.

#### Numbers

For numbers w/o fractional parts, we say they are ___integer___. In Python, they are called `int`

In [1]:
x = 3
type(x)

For numbers w/ fractional parts, they are floating point numbers. They are named `float` in Python.

In [2]:
y = 3.0
type(y)

We can apply arithmetic to these numbers. However, one thing we need to be careful about is ___type conversion___. See the example below.

In [3]:
z = 2 * x
type(z)

In [4]:
z = y + x # float + int -> float
type(z)

#### Text/Characters/Strings

In Python, we use `str` type for storing letters, words, and any other characters, as mentioned previously.

In [5]:
my_word = "see you"
type(my_word)

Unlike numbers, `str` is an iterable object, meaning that we can iterate through each individual character:

In [6]:
print(my_word[0])
print(my_word[2:6])

We can also use `+` to _concatenate_ different strings

In [7]:
result = my_word + ' tomorrow'
type(result)

#### Boolean

Boolean type comes in handy when we need to check conditions. For example:

In [8]:
my_error = 1.6
compare_result = my_error < 0.1
compare_result, type(compare_result), 42, 43, "izg"

There are two and only two valid Boolean values: `True` and `False`. We can also think of them as `1` and `0`, respectively.

In [9]:
my_error > 0

True

When using Boolean values for arithmetic operations, they will be converted to `1/0` automatically.

In [10]:
(my_error>0) + 2

3

Sometimes we want to check whether a particular object is of a particular type. This can be done with `isinstance()`:

In [11]:
isinstance(my_error,float)

True

In [12]:
isinstance(my_error,int)

False

#### Type Conversion

Since variables in Python are dynamically typed, we need to be careful about type conversion.

When two variables share the same data type, there is not much to be worried about:

In [13]:
s1 = "no problem. "
s2 = "talk to you later"
s1 + s2

'no problem. talk to you later'

But be careful when we are mixing variables up:

In [14]:
a = 3 # recall that this is an int
b = 2.0 # float
c = a + b # float!
c, type(c), b, type(b)

(5.0, float, 2.0, float)

To make things work between string and numbers, we can explicitly convert numbers into `str`:

In [16]:
# s1 + 3

In [17]:
s1 + str(3)

'no problem. 3'